<div class="fixed top-0 -z-10 left-0 w-full h-full overflow-hidden pointer-events-none">
    <!-- Hero Attribute -->
    <div
        class="-z-1 floating-animations absolute bottom-20 -right-20 w-100 h-100 bg-radial from-sky-600/50 to-transparent rounded-full blur-3xl"
    >
    </div>
    <div
        class="-z-2 floating-animations absolute lg:-top-70 -left-10 min-w-[400px] w-1/2 h-auto aspect-square bg-transparent border border-sky-500/20 rounded-full"
    >
    </div>
    <div
        class="-z-1 floating-animations absolute -top-10 -right-40 w-100 h-100 bg-radial from-sky-700/30 to-transparent rounded-full blur-3xl"
    >
    </div>
    <div
        class="-z-1 floating-animations absolute -top-120 lg:-top-80 -left-70 lg:-left-200 w-full h-full bg-radial from-sky-600/50 to-transparent rounded-full blur-3xl"
    >
    </div>

    <!-- Background icons -->
    <div class="absolute inset-0 pointer-events-none">
        <!-- Filament -->
        <i class="devicon-filamentphp-original floating-icon blur-[5px] -rotate-20 text-[10rem] lg:text-[20rem] top-10 lg:-top-20"></i>

        <!-- Astro -->
        <i class="devicon-astro-plain floating-icon rotate-20 top-70 left-4 lg:left-30 text-[3rem] lg:text-[5rem]"></i>

        <!-- Nomad -->
        <i class="devicon-nomad-plain floating-icon rotate-20 bottom-0 left-10 text-[5rem] lg:text-[10rem] blur"></i>

        <!-- Vue -->
        <i class="devicon-vuejs-plain floating-icon blur-[5px] text-[10rem] lg:text-[20rem] -bottom-20 right-0"></i>

        <!-- React -->
        <i
            class="devicon-react-original floating-icon text-white/80 rotate-20 bottom-50 lg:top-70 right-4 lg:right-30 text-[5rem]"
        ></i>

        <!-- Laravel -->
        <i class="devicon-laravel-plain floating-icon text-white/80 rotate-20 top-25 right-0 lg:right-40 text-[5rem]"
        ></i>

        <!-- Supabase -->
        <i
            class="devicon-supabase-plain text-sky-300/40 floating-icon rotate-20 bottom-30 lg:bottom-0 lg:right-150 text-[10rem] lg:text-[20rem] blur"
        ></i>
    </div>
    <!-- <div class="-z-1 absolute top-50 left-10">
            <i class="devicon-typescript-plain text-7xl text-slate-400/50"></i>
        </div>
        <div class="-z-1 absolute top-50 right-20">
            <i class="devicon-djangorest-plain text-7xl text-slate-400/50"></i>
        </div> -->
</div>
