---
import CardProject from '../components/CardProject.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <section class="py-10 bg-gray-50">
    <h2
      class="font-anton text-3xl uppercase border-b-2 border-gray-800 inline-block"
    >
      ABOUT ME
    </h2>

    <div class="mt-10">
      <p>
        I’m a <strong>Software Engineer</strong> & <strong>IT Consultant</strong> who
        helps businesses turn ideas into clean, scalable, and user-friendly digital
        products. I love working across modern web technologies—building interfaces
        that feel intuitive and systems that solve real problems.
      </p>
    </div>
  </section>
</Layout>
