---
import Experience from '../components/Experience.astro'
import Skill from '../components/Skill.astro'
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro'
import MyProjects from '../components/MyProjects.astro'
import { topProjects } from '../data/projects'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="pt-10 space-y-3">
    <p>
      I started coding out of curiosity, and it quickly grew into a passion.
      Today, I work as a Software Engineer & IT Consultant, helping businesses
      transform ideas into working digital products. With experience in various
      technology stacks — from React and Next.js to Laravel and mobile
      development — I love combining logic and creativity to build interfaces
      that feel intuitive to users.
    </p>
    <p>
      Graduating Cum Laude with a GPA of 3.94, I continue learning every day.
      Whether collaborating on real projects, building apps from scratch, or
      sharpening my UI/UX intuition through design, I always push myself to grow
      and deliver better solutions.
    </p>
  </div>
  <div class="flex gap-10 mt-5 mb-20">
    <div class="border w-50 p-5 shadow-[10px_10px_0px_var(--color-black)]">
      + 12 years of experience
    </div>
    <div class="border w-50 p-5 shadow-[10px_10px_0px_var(--color-black)]">
      + 12 years of experience
    </div>
  </div>

  <MyProjects projects={topProjects} />
  <Experience />
  <Skill />
</Layout>
