---
import Experience from '../components/Experience.astro'
import Skill from '../components/Skill.astro'
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro'
import MyProjects from '../components/MyProjects.astro'
import { topProjects } from '../data/projects'
import MyServices from '../components/MyServices.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="pt-10 space-y-3">
    <h2
      class="font-anton text-3xl uppercase border-b-2 border-gray-800 inline-block"
    >
      HI I'M ADI AULIA RAHMAN
    </h2>
    <p>
      I’m a <strong>Software Engineer</strong> & <strong>IT Consultant</strong> who helps businesses turn ideas
      into clean, scalable, and user-friendly digital products. I love working
      across modern web technologies—building interfaces that feel intuitive and
      systems that solve real problems.
    </p>
  </div>
  <div class="flex gap-10 mt-5 mb-20">
    <div class="border w-50 p-5 shadow-[10px_10px_0px_var(--color-black)]">
      + 12 years of experience
    </div>
    <div class="border w-50 p-5 shadow-[10px_10px_0px_var(--color-black)]">
      + 12 years of experience
    </div>
  </div>

  <MyProjects projects={topProjects} />
  <Experience />
  <MyServices />
  <Skill />
</Layout>
