---
// Jika kamu ingin membuat data lebih dinamis, kamu bisa ambil dari props nanti.
// Untuk sekarang kita hardcode dulu.
// Experience Grouped By Role
const experiences = [
  {
    role: 'Mentor / Educator',
    items: [
      {
        company: 'CV. Batuah Teknologi Semesta',
        year: 'Okt 2023 – Sekarang',
        desc: 'Mengajar dan membimbing mahasiswa dalam pengembangan proyek IT dengan materi PHP, Laravel, CI4, dan ReactJS.',
      },
    ],
  },
  {
    role: 'Backend Developer',
    items: [
      {
        company: 'ICT Politala',
        year: 'Mei 2023 – Des 2023',
        desc: 'Membangun RESTful API dan CMS Admin menggunakan Laravel 10 untuk sistem marketplace.',
      },
    ],
  },
  {
    role: 'Fullstack Developer',
    items: [
      {
        company: 'Teaching Factory Batch 2 Politala',
        year: 'Okt 2023 – Des 2023',
        desc: "Mengembangkan aplikasi e-commerce 'Raja Ikan' secara full-stack dengan CodeIgniter 4 & Bootstrap 4.",
      },
      {
        company: 'Teaching Factory Batch 1 Politala',
        year: 'Okt 2023 – Des 2023',
        desc: "Mengembangkan aplikasi e-commerce 'Raja Ikan' secara full-stack dengan CodeIgniter 4 & Bootstrap 4.",
      },
    ],
  },
]
---

<section class="py-20 bg-gray-50">
  <div class="w-full">
    <h2 class="font-anton text-3xl uppercase border-b-2 mt-10">MY EXPERIENCE</h2>

    <div class="space-y-8 mt-5">
      {
        experiences.map((item) => (
          <div class="border-l-2 pl-2">
            <div class="flex items-center justify-between">
              <h3 class="text-xl font-bold text-gray-900 font-anton">{item.role}</h3>
            </div>

            <ul class="mt-1 space-y-2">
              {item.items.map((subItem) => (
                <li class="mt-4">
                  <h4 class="text-md text-gray-800 font-semibold italic">
                    {subItem.company}
                  </h4>
                  <p class="text-gray-500">{subItem.year}</p>
                  <p class="text-gray-500">{subItem.desc}</p>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</section>
