---
import CardProject from './CardProject.astro'
import type { Project } from '../types/project'

const BASE_URL = import.meta.env.BASE_URL
interface Props {
  projects: Project[]
}
const { projects } = Astro.props as Props
---

<section class="py-20 bg-gray-50">
  <h2
    class="font-anton text-3xl uppercase border-b-2 border-gray-800 inline-block"
  >
    FEATURED PROJECTS
  </h2>

  <div
    class="w-full mt-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
  >
    {projects.map((project) => <CardProject {...project} />)}
  </div>
  <div class="pt-10">
    <a
      href={BASE_URL + 'projects'}
      class="bg-gray-800 text-white py-3 px-5 rounded"
    >
      Show All Projects
    </a>
  </div>
</section>
