<link slot="head" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

<div class="fixed bottom-10 right-10 z-999 floating">
    <a
        href="https://wa.me/+6285179724132"
        target="_blank"
        class="flex items-center gap-2 bg-green-500 text-white px-4 py-3 rounded-full shadow-lg shadow-green-500/50 hover:bg-green-600 transition"
    >
        <i class="fa-brands fa-whatsapp text-xl"></i>
    </a>
</div>
