---
import Layout from '../../layouts/Layout.astro'
import { staticPaths } from '../../utils/i18n'

const { lang } = Astro.params

export function getStaticPaths() {
    return staticPaths()
}

if (lang !== 'en' && lang !== 'id') {
    return Astro.redirect(`${BASE_URL}en/`)
}
---

<Layout>
    <section class="min-h-screen mt-25 lg:px-20">
        <h1 class="text-4xl font-bold mb-6 font-anton">About Me</h1>

    
    </section>
</Layout>
