---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
     <section class="min-h-screen grid grid-cols-12 pt-40">
          <div class="col-span-2">
               sasdasd
          </div>
          <div class="col-span-10 bg-blue-500">
               sasdasd
          </div>

     </section>
</Layout>