---
import '../css/index.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />

    <!-- Dev Icons -->

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
  </head>
  <body class="font-dmono antialiased flex bg-gray-100 text-gray-900">
    <div
      class="w-full lg:w-5xl md:max-w-5xl mx-auto px-5 relative min-h-screen bg-gray-50"
    >
      <Header />
      <div class="mt-20">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
