---
import HeadLabelSection from '../../../components/ui/HeadLabelSection.astro'
import content from './content.json'
import { ServicesData } from './data'

const { lang } = Astro.props as { lang: 'en' | 'id' }

const t = content[lang]

const services = ServicesData[lang]
---

<section class="pb-20 z-2 px-5 lg:px-30 mt-20">
    <div class="w-full">
        <!-- Services Section -->
        <HeadLabelSection title={t.title} description={t.subtitle} />
        <!-- Add your services content here -->
        <div class="bg-black rounded-3xl border border-slate-700 mt-10 relative">
            <ul class="grid grid-cols-1 md:grid-cols-3 p-5 lg:p-10 gap-4">
                {
                    services.map((service, index) => (
                        <li class={`${index % 3 !== 2 ? 'lg:border-r-2 border-dashed border-slate-700 pr-5' : ''} pb-4`}>
                            <div class="text-center lg:px-5">
                                <h3 class="font-bold text-lg mb-1 py-1 text-transparent bg-linear-to-r from-sky-500 to-sky-950 bg-clip-text">
                                    {service.title}
                                </h3>
                                <p class=" text-xs lg:text-sm text-slate-300">{service.description}</p>
                            </div>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</section>
