<div class="p-px bg-linear-to-br from-blue-200 via-sky-500 to-blue-950 rounded-xl h-full w-full">
    <div class=" bg-black backdrop-blur-2xl min-h-20 rounded-xl  text-slate-200 font-bold h-full w-full">
        <slot />
    </div>
</div>
